@{
    ViewData["Title"] = "Home Page";
}
<div class='canvas'>
    <article>
        <h1>Introduction</h1>
        <p>
            Welcome to Cameron's Programming Documentation page.<br>
            This page is strictly about Cameron Murray and his coding expertise.<br>
            Each page in this html is dedicated to a specific programming language.<br> 
            On the page you will find some of Cameron's college work and projects.<br>
            Down below you will see a table with all of the languages he's learned. <br>
            You will also see what platforms he used it on. Deeper details can be found<br> 
            by clicking the links programmed in html. Note not all languages are here yet.<br>
            This is a work in progress. You may be asking why the bubbles. Wanted to showcase<br>
            my animating skills from CSS and JavaScript.
        </p> 
    </article>
    <table class="Coding">
        <thead> 
    <tr>
  <th>Language Name</th>
  <th>Platforms Used</th>
  </tr>
</thead>
<tbody>
<tr>
<td> C#</td>    
<td> Visual Studio 2017 and 2019 Community<br> Android Studio<br> Unity <br></td>
</tr>

<tr>
<td> Java</td>    
<td> Eclipse</td>
</tr>

<tr>
<td> Python</td>
<td> Visual Studio Code </td>
</tr>

<tr>
<td>RPG IV</td>
<td>Rational Developer For I / RDI</td>
</tr>

<tr>
<td>HTML and CSS</td>
<td>Visual Studio code <br> Notepad++</td>
</tr>

<tr>
<td>PHP</td>
<td>Eclipse</td>
</tr>

<tr>
<td>SQL</td>
 <td>IBM i SQL Page<br>
Visual Studio<br> Eclipse Enterprise Edition
<br> RDI</td>
</tr>

<tr>
  <td>Javascript</td>
   <td>Visual Studio Code<br> Eclipse</td>
</tr>
</tbody>
</table>
    </table>
    <!-- ... -->
    <div class='bubble'></div>
    <!-- Add the rest of your bubbles here -->
</div>
